{% extends '::base2.html.twig' %}
{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-red">{{ status_code }}</h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-red"></i> Oops! Ha ocurrido un error.</h3>

                <p> 
                    Estamos trabajando para arreglarlo inmediatamente. {{ status_text }}
                    Mientras tanto usted pues <a href="{{ path('brasa_general_inicio') }}">volver a inicio </a> o buscar otro contenido.
                </p>

                <form class="search-form">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" name="submit" class="btn btn-danger btn-flat"><i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.input-group -->
                </form>
            </div>
        </div>        
    </section>


    <!-- /.content -->
{% endblock %}
