{% extends '::base2.html.twig' %}
{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Documentacion
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-calendar"></i> Documentacion</a></li>
        </ol>
    </section>   
    <section class="content"> 
 
    </section>
{% endblock %}
