{% extends '::base_sin_menu.html.twig' %}
{% block content %}
    <section class="content-header">
        <h1>
            Recurso humano
            <small>Aspirante : Aplicar requisición</small>
        </h1>
        
    </section>    
    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}        
        <div class="panel panel-default">
            <div class="panel-heading">Información general</div>
            <div class="panel-body">   
                <div class="form-group form-group-sm">
                    <label for="form_seleccionRequisicionRel" class="col-sm-3 control-label">Requisición:</label>
                    <div class="col-sm-9">
                        {{ form_widget(form.seleccionRequisicionRel, { 'attr': {'class': 'form-control','autofocus':'autofocus'} }) }}
                    </div>
                </div>                            
            </div>
        </div>                   
        <div class="modal-footer">              
            {{ form_widget(form.BtnGuardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}            
        </div>    
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}