{% extends '::base2.html.twig' %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Inicio
            <small>SogaApp V.2.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('brasa_general_inicio') }}"><i class="fa fa-dashboard"></i> Inicio</a></li>            
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="jumbotron">
            <h2>16/05/2017 No se ha perdido el norte!</h2>
            <p>
                Queremos agradecerles por el apoyo y la constante ayuda en este semestre de tantos retos que no hubiésemos superado sin nuestros clientes: reforma tributaria, nuevas resoluciones de seguridad social, cambio de ubicación física de la compañía, dificultades con proveedores de telecomunicaciones, otros cambios internos. Estamos reorganizándonos y fortaleciendo nuestro equipo que va redundar en beneficios para nuestros clientes. Los mantendremos informados.                 
                <br />
                Mario Estrada – Jefe de investigación y desarrollo<br />
            </p>
            <p><a class="btn btn-primary btn-lg" role="button">Leer mas</a></p>
            <br />            
            <h2>22/03/2017 Corregimos un Opppsss!</h2>
            <p>
                El 21 de marzo corregimos un error estructural, el auxilio de transporte estaba ligado al empleado, pero cuando este tenía más 
                de un contrato en un periodo de pago el sistema tomaba el parametro general para los dos contratos, para corregir este inconveniente
                se trasladó el auxilio de transporte para el contrato, le sugerimos exportar los contratos y verificar esta información.                 
                <br />
                Nuestro compromiso es mejorar día a día<br />
            </p>
            <p><a class="btn btn-primary btn-lg" role="button">Leer mas</a></p>
            <br />            
            <h2>22/02/2017 Recta final Res. 2388 Seguridad Social</h2>
            <p>
                En la semana del 20 al 28 de febrero estamos en la recta final de la implementación de la resolución 2388 de seguridad social. Queremos estar preparados para este cambio ya que sabemos la situación de inestabilidad que generan todos los manejos de información administrados por el estado asi que en estas fechas vamos a estar atendiendo solo los casos mas críticos de soporte y solicitamos de su colaboración para clasificar estas necesidades mas urgentes.                 
                <br />
                Con su ayuda vamos ha cumplir con un buen y correcto aporte de la seguridad social. <br />
            </p>
            <p><a class="btn btn-primary btn-lg" role="button">Leer mas</a></p>
            <br />
            <h2>01/02/2017 Actualizacion V2.0 - En esto estabamos trabajando, gracias por su paciencia!</h2>
            <p>
                Esta version mejora la experiencia de navegacion, sabemos que no todos somos amarillos o naranjas, muchos quizas un arco iris de opciones, le damos la libertad de escoger lo que mas te guste en los
                colores de la aplicacion. Menu de acceso rapido y elementemos que mejoran la forma uso para hacerlo mas sencillo, mas practico, mas legible. 
                Nuevas herramientas de comunicacion usuario-app, usuario-usuario, usuario-equipo_trabajo, velocidad de carga de las paginas aumentada, documentacion.
                <br /><br />
                Nuestro equipo de trabajo crece en talentos, valores, metas, retos realizados y nuevos. <br />
                Para nuestros clientes: el producto de hacer lo que mas nos gusta como trabajo. <br />
            </p>
            <p><a class="btn btn-primary btn-lg" role="button">Leer mas</a></p>
        </div>      
    </section>
    <!-- /.content -->
{% endblock %}
